.card-desc
    .hand__card--red
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/reverse--red.png")
    h2.card-desc__title Reverse
    p.card-desc__description Reverses the order of play

.card-desc
    .hand__card--blue
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/skip--blue.png")
    h2.card-desc__title Skip
    p.card-desc__description Skips the turn of the next player

.card-desc
    .hand__card--yellow
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/draw2--yellow.png")
    h2.card-desc__title Draw 2
    p.card-desc__description The next player must draw 2 cards and skip their turn

.card-desc
    .hand__card
        .hand__card--circle
            img(class="hand__card--img-wild" src="images/card_icons/wild.png")
    h2.card-desc__title Wild
    p.card-desc__description Can be played on any color, player chooses the color of the deck

.card-desc
    .hand__card
        .hand__card--circle
            img(class="hand__card--img-wild" src="images/card_icons/draw4.png")
    h2.card-desc__title Draw 4
    p.card-desc__description Next player must draw 4 cards and skip their turn, player chooses the color of the deck