.card-desc
    .hand__card--red
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/reverse--red.png")
    p.card-desc__description Reverses the order of play

.card-desc
    .hand__card--blue
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/skip--blue.png")

.card-desc
    .hand__card--yellow
        .hand__card--circle
            img(class="hand__card--img" src="images/card_icons/draw2--yellow.png")

.card-desc
    .hand__card
        .hand__card--circle-wild
            p.hand__card--num w
    p.card-desc__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed pharetra leo, vel dapibus est.

.card-desc
    .hand__card
        .hand__card--circle-wild
            p.hand__card--num w4