div( class="hand__card--yellow spin" style={'animation-delay': "0s" } )
    .hand__card--circle
        img(class="hand__card--img" src="images/card_icons/reverse--yellow.png")

div(class="hand__card--blue spin" style={'animation-delay': "4s" })
    .hand__card--circle
        p.hand__card--num 4

div(class="hand__card--red spin" style={'animation-delay': "2s" })
    .hand__card--circle
        p.hand__card--num 9

div(class="hand__card--green spin" style={'animation-delay': "7s" })
    .hand__card--circle
        img(class="hand__card--img" src="images/card_icons/draw2--green.png")

div(class="hand__card--red spin" style={'animation-delay': "5s" })
    .hand__card--circle
        p.hand__card--num 2

div(class="hand__card--blue spin" style={'animation-delay': "3s" })
    .hand__card--circle
        p.hand__card--num 0

div(class="hand__card--yellow spin" style={'animation-delay': "1s" })
    .hand__card--circle
        p.hand__card--num 7

div(class="hand__card--red spin" style={'animation-delay': "6s" })
    .hand__card--circle
        img(class="hand__card--img" src="images/card_icons/skip--red.png")
        
div(class="hand__card--green spin" style={'animation-delay': "8s" })
    .hand__card--circle
        p.hand__card--num 1