extends layout

block content
    .session
        .header
        .play-space
            .hand__card
                .hand__card--circle
                    p.hand__card--num 0
            .hand__card
                .hand__card--circle
                    p.hand__card--num 0

        .hand
            