extends layout

block content
    .session
        .header
        .play-space
            .hand__card
                .hand__card--cirlce
                    p.hand__card--num 0
            .hand__card
                .hand__card--cirlce
                    p.hand__card--num 0

        .hand
            div(class="hand__card" style="background-color: var(--yellow);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--yellow);") 1

            div(class="hand__card" style="background-color: var(--red);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--red);") 8

            div(class="hand__card" style="background-color: var(--green);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--green);") 7

            div(class="hand__card" style="background-color: var(--red);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--red);") 0        

            div(class="hand__card" style="background-color: var(--blue);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--blue);") 9

            div(class="hand__card" style="background-color: var(--yellow);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--yellow);") 5

            div(class="hand__card" style="background-color: var(--red);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--red);") 3

            div(class="hand__card" style="background-color: var(--blue);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--blue);") 6

            div(class="hand__card" style="background-color: var(--green);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--green);") 6


            div(class="hand__card" style="background-color: var(--green);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--green);") 1


            div(class="hand__card" style="background-color: var(--red);")
                .hand__card--cirlce
                    p(class="hand__card--num" style="color: var(--red);") 9