extends layout

block content
    .session
        .play-space
            .header
                a(href="/lobby")
                    img(src="images/arrow.png" class="header__back-button")
                h1.header__title #{gameName}
                div
                
            .deck
                .hand__card.played
                    .hand__card--circle
                        p.hand__card--num 0
                .hand__card.pile
                    .hand__card--circle
                        p.hand__card--num 0
            .hand
            each card in cards
                p #{card.color}

        .sidebar
            .score

            .session-chat
                .session-chat__messages
                
                form.session-chat__form
                    input( type="text" class="session-chat__form-input" placeholder="Type your message here")
                    button(type="submit" class="session-chat__form--button")
                        img(src="images/arrow.png" class="session-chat__form--img")

        .bg-texture
            