extends layout

block content
    .session
        .play-space
            .title 
                p #{gameName}
                
            .global-deck
                .hand__card
                    .hand__card--circle
                        p.hand__card--num 0
                .hand__card
                    .hand__card--circle
                        p.hand__card--num 0
            .hand

        .sidebar
            .score
                .score__player
                    p.score__player--username Chris

            .session-chat
                .session-chat__messages
                
                form.session-chat__form
                    input( type="text" class="session-chat__form-input" placeholder="Type your message here")
                    button(type="submit" class="session-chat__form--button")
                        img(src="images/arrow.png" class="session-chat__form--img")
            