extends layout

block content

    include includes/login.pug
    .full-view
        .logo__container
            img(src='images/Logo.png', alt='uno-logo' class='logo')
            a.button__login-signup.shadow Login / Signup
        .spinContainer
            include includes/cardspin.pug
        .bg-texture

    .full-view
        h1 How to Play
        .card-types
            include includes/cardtypes.pug

    .full-view
        .chat
            h1.chat__title CHAT
            .chat__box
                .chat__box--messages
                    .chat__box--incoming-message Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed pharetra leo, vel dapibus est.
                    .chat__box--incoming-message Lorem ipsum dolor sit amet, consectetur adipiscing.
                    .chat__box--incoming-message Lorem ipsum
                    .chat__box--outgoing-message Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                    .chat__box--incoming-message Lorem ipsum dolor sit amet, consectetur adipiscing.
                    .chat__box--incoming-message Lorem
                    .chat__box--outgoing-message Lorem
                .chat__box--form-container
                    form.chat__box--form
                        //input(type="text" class="chat__box--user" value= username readonly=true)
                        input(type="text" class="chat__box--input")
                        button(type="submit" class="chat__box--button")
                            img(src="images/arrow.png" class="chat__box--button-img")

        .start-page-buttons
            a(href='/session' class='start-button') Start
            a(href='/lobby' class='join-button') Join
            a(href='/list_users') List Users


    script(src='/js/deck.js')