extends layout

block content
    .header
        button.chat-button Chat
        img(src='images/UNO-Logo.svg', alt='uno-logo' class='header_logo')
        .login-signup
            a(href='/users/login') Login
            a(href='/users/signup') Signup
    .body
        .cards-container
            .app
                .card
                    .circle
                        p 9
        .start-page-buttons
            a(href='/session' class='start-button') Start
            a(href='/join' class='join-button') Join