extends layout

block content
    .lobby
        a(href='/index' class='back-button') back
        h1.lobby-title Lobby
        img(src='images/dog.png' class='user-icon')
    .sessions
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')
        img(src='images/white-page.png' class='lobby-icon')