extends layout

block content
    .lobby
        .lobby__header
            a(href='/index' class='back-button') back
            h1.lobby-title Lobby
            img(src='images/dog.png' class='user-icon')
        .lobby__joined
            .lobby__joined--instance.shadow
                    h3.lobby__session--name Husky
                    .lobby__session--player-list
                        p.lobby__session--player C
                        p.lobby__session--player N
        .lobby__sessions
            .lobby__session--instance.shadow
                h3.lobby__session--name Husky
                .lobby__session--player-list
                    p.lobby__session--player C
                    p.lobby__session--player N

