extends layout

block content
    .lobby
        .lobby__header
            h1.lobby-title Choose a game
        .lobby__joined
            .lobby__joined--instance.shadow
                    h3.lobby__session--name Husky
                    .lobby__session--player-list
                        p.lobby__session--player C
                        p.lobby__session--player N
        .lobby__sessions
            each game in games
                a.lobby__session--instance.shadow(href="/join/" + game.dataValues.id)
                    .lobby__session--head
                        p.lobby_session--id #{game.dataValues.id}
                        h3.lobby__session--name | #{game.dataValues.gameName}
                    .lobby__session--player-list
                        p.lobby__session--player C
                        p.lobby__session--player N
        .bg-texture

