extends layout

block content
    .body
        .container
            form(class="form__signup" action="")
                h1.form__signup--title Sign Up

                label.form__signup--label Name
                input(type="text" class="form__signup--input")

                label.form__signup--label Email
                input(type="email" class="form__signup--input")

                label.form__signup--label Password
                input(type="password" class="form__signup--input")

                label.form__signup--label Confirm Password
                input(type="password" class="form__signup--input")

                .form__signup--buttons
                    button(class="form__signup--button-cancel")
                        a(href="../index") Cancel
                    button(class="form__signup--button-submit" type="submit") Submit
