*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Kefa';
    src: url('fonts/Kefa-Regular.TTF');
}

h1 {
    font-family: var(--main-font);
    font-size: 50px;
    color: white;
    margin: 0;
    margin: 10px;
}

h2 {
    font-family: var(--main-font);
    font-size: 30px;
    color: white;
}

html {
    min-height: 100vh;
}

body{
    margin: 0;
    scroll-snap-type: y mandatory;
}

p{
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--secondary-font);
}