.full-view{
    position: relative;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: var(--main-bg-color);
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.397);
    z-index: 10000;
}

.lobby{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-bg-color);
}

.container{
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}