/*--------------------------------------------------------------------MODAL--*/
.modal__create-game{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.397);
    z-index: 10000;
}

.modal__create-game--form{
    width: 400px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.modal__create-game--input{
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    outline: none;
    font-family: var(--secondary-font);
    font-size: 13px;
}

.modal__create-game--label{
    font-family: var(--main-font);
    font-size: 25px;
    margin-bottom: 10px;
}

.modal__create-game--button-submit,
.modal__create-game--button-cancel{
    float: right;
    background-color: var(--blue);
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
    font-family: var(--main-font);
}

.modal__create-game--button-cancel{
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/*---------------------------------------------------------------------LOGO--*/
.bg-texture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    opacity: .4;
    background: url('../images/resources/black-mamba.png');
    background-size: 350px;

    animation: animatedBackground 80s linear infinite;
    z-index: 0;

}

.bg-texture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: rgb(108, 214, 101);
    background: linear-gradient(0deg, rgba(108, 214, 101, .85) 0%, rgba(43, 86, 40, 0) 60%, rgba(0, 0, 0, 0.35) 100%);
}

.logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.logo {
    height: 40vh;
    align-self: center;
}

.button__login-signup {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 130px; */
    padding: 10px;
    margin-top: -30px;

    background-color: var(--yellow);
    border-radius: 5px;

    font-family: monospace;
    color: white;
    font-size: 15px;

    cursor: pointer;
}

.start-page-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
}

.start-button,
.join-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);
    border-radius: 20px;

    padding: 5px 15px;
    margin: 10px 0;
    height: 40px;
    width: 220px;

    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

.home-arrow{
    position: absolute;
    width: 36px;
    bottom: 30px;
    left: calc(50% - 15px);
    transform: rotateZ(180deg);
    opacity: 0;

    animation-name: arrowBounce;
    animation-direction: alternate;
    animation-iteration-count: 12;
    animation-duration: .5s;
    animation-timing-function: linear;
}

/*--------------------------------------------------------------------ABOUT--*/
.card-types {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 30px;
}

.card-desc {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin: 5px;
}

.card-desc__description {
    color: white;
    padding: 0 10px;
    margin: 0;
    font-family: var(--main-font);
    font-size: 18px;
}

.card-desc__title {
    margin: 0 0 5px 0;
    padding: 0 10px;
}

.card-desc .hand__card,
.card-desc .hand__card--yellow,
.card-desc .hand__card--blue,
.card-desc .hand__card--green,
.card-desc .hand__card--red {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.15);
}

.card-types div {
    scroll-snap-align: none;
}

/*---------------------------------------------------------------------CHAT--*/
.chat__title {
    font-size: 40px;
    margin: 0;
}

.chat__box {
    border-radius: 10px;
    background-color: white;
    width: 900px;
    overflow: hidden;
}

.chat__box--messages {
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    height: 50vh;

    overflow-y: scroll;
    overflow-x: hidden;
}

.chat__box--incoming-message,
.chat__box--outgoing-message {
    padding: 10px;
    max-width: 400px;
    border-radius: 12px;
    margin: 5px;
    font-family: var(--secondary-font);
    font-size: 14px;

    word-wrap: break-word;
}

.chat__box--incoming-message {
    align-self: flex-start;
    background-color: rgb(233, 233, 233);
}

.chat__box--outgoing-message {
    align-self: flex-end;
    background-color: rgb(0, 132, 255);
    color: white;
}

.chat__box--form-container {
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    width: 100%;
    background-color: rgb(233, 233, 233);
}

.chat__box--form {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    border-radius: 50px;
    width: 100%;
}

.chat__box--input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 10px 15px;
    font-size: 14px;
    font-family: var(--secondary-font);
}

.chat__box--button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background-color: rgb(0, 132, 255);
    align-self: center;
    /* margin: 0; */
    padding: 0 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.chat__box--button-img {
    height: 15px;
}

/*-------------------------------------------------------------LOGIN/SIGNUP--*/
.modal__form{
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;

    overflow: hidden;
}

.modal__form--tabs{
    display: flex;
    font-family: var(--main-font);
    font-size: 20px;

    justify-content: space-around;
    border-bottom: 1px solid var(--grey);
}

.modal__form--tab-login,
.modal__form--tab-signup {
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.selected {
    background-color: var(--grey);
    color: white;
}

.modal__form--login,
.modal__form--signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;
    padding: 20px;
}
.modal__form--signup{
    display: none;
}

.modal__form--title {
    align-self: center;
    color: black;
}

.modal__form--label {
    font-family: var(--main-font);
    align-self: flex-start;
    color: var(--dark-grey);
    margin-top: 10px;
}

.modal__form--input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;

    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--light-grey);
}

.modal__form--buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.modal__form--button-cancel,
.modal__form--button-submit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 35px;
    margin: 5px;

    border: none;
    border-radius: 5px;

    color: white;
    font-family: var(--main-font);
    font-size: 15px;

    cursor: pointer;
}

.modal__form--button-cancel {
    background-color: var(--grey);
}

.modal__form--button-submit {
    background-color: var(--blue);
}

/*--------------------------------------------------------------------CARDS--*/

.hand__card,
.hand__card--green,
.hand__card--red,
.hand__card--yellow,
.hand__card--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    scroll-snap-align: start;

    color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid white;
    width: 160px;
    height: 258px;

    margin: 10px;
}

.hand__card--green {
    background-color: var(--green);
    color: var(--green);
}

.hand__card--red {
    background-color: var(--red);
    color: var(--red);
}

.hand__card--yellow {
    background-color: var(--yellow);
    color: var(--yellow);
}

.hand__card--blue {
    background-color: var(--blue);
    color: var(--blue);
}

.hand__card--circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    width: 80%;
    height: 85%;

    transform: rotateZ(20deg);
}

.hand__card--num {
    transform: rotateZ(-20deg);
    margin: 0;
    padding: 0;

    font-size: 100px;
    font-family: 'Kefa';
}

.hand__card--img,
.hand__card--img-wild {
    transform: rotateZ(-20deg);
    width: 70%;
}

.hand__card--img-wild {
    width: 100%;
}

.spinContainer {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 110vh;

    display: flex;
    justify-content: space-around;

    overflow: hidden;
}

.spin {
    /* position: absolute;
    top: -100px; */

    width: 50px;
    height: 81px;
    border: 2px solid white;
    border-radius: 5px;

    opacity: .9;

    animation-name: card-spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    z-index: 100;

}

.spin p {
    font-size: 40px;
}

/*--------------------------------------------------------------------LOBBY--*/
.lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    height: 100vh;
}

.lobby__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 20px;
    z-index: 1000;
}

.lobby__sessions{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 20px;
    z-index: 1000;
}

.lobby__joined{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
    max-width: 800px;
    z-index: 1000;
}

.lobby__session--name{
    color: white;
}

.lobby__back-button{
    position: relative;
    top: -2px;

    width: 35px;
    height: 35px;
    transform: rotateZ(-90deg);

    cursor: pointer;
}

.lobby__session--instance,
.lobby__joined--instance{
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 400px;
    width: 80vw;
    max-width: 700px;
    height: 80px;
    margin: 10px 0;
    padding: 20px;

    background-color: var(--yellow);
    border-radius: 50px;

    cursor: pointer;
}

.lobby__session--player-list{
    display: flex;
    justify-content: flex-end;
}

.lobby__session--player{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0 0 0 5px;

    border-radius: 50px;
    background-color: var(--red);
    border: 2px solid white;

    color: white;
}

.back-button {
    background-color: lightblue;

    padding: 13px;
    border-radius: 10%;
    margin-left: 5px;
}

.user-icon {
    width: 60px;
    height: 70px;
    padding: 4px;
    border-radius: 50%;
}

.sessions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

    margin-top: 400px;
    padding: 12px;
    overflow: auto;

}

.lobby-icon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0px 20px;

    background-color: white;
}