.session {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 100vh;

    background-color: var(--main-bg-color);

    height: 100vh;
    width: 100%;
}

.play-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.title {
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);
    background: linear-gradient(14deg, rgba(255, 222, 89, 1) 15%, rgba(255, 238, 174, 1) 50%, rgba(255, 222, 89, 1) 85%);


    border-radius: 50px;
    border: 3px solid white;
    padding: 10px 40px;

    color: white;
    font-size: 50px;
    font-family: var(--main-font);

    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.15);
}

.title p {
    margin: 0;
    padding: 0;
}

.score {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    background-color: var(--blue);
    border-radius: 20px;
    border: 2px solid white;

    padding: 10px;
    margin-bottom: 30px;
}

.score__player {
    padding: 10px;

    background-color: white;
    border-radius: 50px;

}

.score__player--username {
    color: var(--dark-grey);
    font-size: 16px;
    margin: 0;
}

.global-deck {
    display: flex;
}

.hand {
    display: flex;

    width: 840px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.hand::-webkit-scrollbar {
    height: 0 !important
}

.session-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.session-chat__messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
}

.session-chat__message {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.session-chat__message-user--red,
.session-chat__message-user--blue,
.session-chat__message-user--green,
.session-chat__message-user--yellow {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50px;
    padding: 10px;
    margin: 0;
    margin-left: 15px;

    color: white;
    border: 2px solid white;
}

.session-chat__message-user--red {
    background-color: var(--red);
}

.session-chat__message-user--yellow {
    background-color: var(--yellow);
}

.session-chat__message-user--green {
    background-color: var(--green);
}

.session-chat__message-user--blue {
    background-color: var(--blue);
}

.session-chat__message-payload--red,
.session-chat__message-payload--blue,
.session-chat__message-payload--green,
.session-chat__message-payload--yellow {
    border-radius: 25px;
    padding: 12px;
    margin: 0;
    color: var(--dark-grey);
    border: 2px solid white;
}

.session-chat__message-payload--red {
    background-color: white;
}

.session-chat__message-payload--yellow {
    background-color: white;
}

.session-chat__message-payload--blue {
    background-color: white;
}

.session-chat__message-payload--green {
    background-color: white;
}

.session-chat__form {
    align-self: center;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-radius: 50px;
    width: 100%;
    margin-top: 10px;
}

.session-chat__form-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 10px 15px;
    font-size: 14px;
    font-family: var(--secondary-font);
}

.session-chat__form--button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background-color: rgb(0, 132, 255);
    align-self: center;
    /* margin: 0; */
    padding: 0 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.session-chat__form--img {
    height: 15px;
}