*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

html {
    min-height: 100vh;
}

body{
    margin: 0;
    background: var(--main-bg-color);
}


/*-----------------------------------------------------------------HEADER--*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px;
}

.header_logo {
    height: 200px;
}

.chat-button {
    border-radius: 12px;
    background-color: var(--yellow);
    padding: 2px 20px;
    font-size: 14px;
}

.login-signup {
    display: flex;
    justify-content: space-between;

    width: 130px;
    padding: 10px;

    font-family: monospace;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;
}

/*-------------------------------------------------------------------BODY--*/

@font-face{
    font-family: 'Kefa';
    src: url('./fonts/Kefa-Regular.TTF');
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hand__card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    border-radius: 10px;
    width: 120px;
    height: 195px;
    margin: 10px;
}

.hand__card--circle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 200px;
    font-family: 'Kefa';
    color: var(--red);

    background-color: white;
    border-radius: 50%;
    width: 80%;
    height: 85%;
    
    transform: rotateZ(20deg);
}

.hand__card--num {
    transform: rotateZ(-20deg);
    margin: 0;
    padding: 0;
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    font-size: 75px;
}


.body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 100px;
    padding: 10px;
}

.back-cards {
    width: 150px;
}

.start-page-buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.start-button,
.join-button {
    background-color: var(--yellow);
    border-radius: 20px;

    padding: 5px 15px;
    margin: 0 40px;
    height: 40px;
    width: 120px;

    font-family: monospace;
    font-size: 15px;
    text-align: center;
}
